body {
	background-color: #333;
}
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}
.movie-thumb{
	height:200px
}
.movie-label{
	font-family: 'Proxima Nova Bold';
	font-size: 12px;
}
.movie-card {
	margin-top: 10px;
}

.dates-bar{
	width: 50%;
}
.date{
	color:#09f !important;
}
.date-active {
	font-weight: bold;
	text-decoration: none !important;
	color: #ff7300 !important;	
}
.dates-container{
	width: 100%;
	background-color: #252525;
	text-transform: uppercase;
}
.date-available{
	text-align: center;
}

div.cinema-screen {
	width: 100%;
	background-color: #252525;
	padding: 15px;
	margin-top: 10px;
}

div.cinema-screen > .name {
	color:#09f;
	font-size: 25px;
}


div.cinema-screen > .address {
	color:#979797;
	font-size: 1em;
}

div.cinema-screen > .line {
	color:#979797;
}
div.cinema-screen > .item {
	margin-bottom: 1em;
}
div.cinema-screen > .item > .screen {
	color:#fff;
	font-size: 1.5em;
	font-weight: bold;
}
div.time {
	color:#09f;
	padding: 0.5em 2em !important;
	margin: 0px 5px;
	border: 2px solid #09f;
}
a.time {
	color:#09f;
}
div.time-disabled {
	color:#464646;
	padding: 0.5em 2em !important;
	margin: 0px 5px;
	border: 2px solid #464646;
}
a.time-disabled {
	color:#464646;
}

a.seat {
	width:20px;
	height:20px;
	border-radius: 10px;
	font-size: 9px;
	margin:2px;
	padding:2px;
	font-weight: bold;
	background-color:#3478c1;
	color:#3478c1;
	text-decoration:none;
}
a.seat-disabled {
	width:20px;
	height:20px;
	border-radius: 10px;
	font-size: 9px;
	margin:2px;
	padding:2px;
	font-weight: bold;
	background-color:gray;
	color:#3478c1;
	text-decoration:none;
	color:#fff;
	cursor: not-allowed;
}
a.seat:hover {
	background-color:#ff7300;
	background-color:#ff7300;
	color:#fff;
}

.seat-container {
	width: 100%;
	margin:auto;
	border:1px inset gray;
}

.screen-display{
	height:40px;
	text-align: center;
	color: #fff;
	width:80%;
	margin:auto;
	background-color: #0e2c4c;	
}
