<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

	<body>
		<div layout:fragment="content">
			
			<div class="bg-light"> 
			
				<div class="row">
					<div class="col col-lg-3">
						menu
					</div>
					<div class="col col-lg-9">
					
						<div class="seat-container">
							
							<div class="screen-display">Screen</div>
							<br/><br/>						
							<div th:each="i : ${#numbers.sequence(1, showing.screen.totalRow)}" class="d-flex justify-content-center">	
							 	<a th:each="i2 : ${#numbers.sequence(1, showing.screen.totalCol)}" class="seat"
							 		th:text="${showing.convertPosition(i)} + ${i2}"></a>
							 	
							</div>
							
							
						</div>
					</div>
				</div>
			
			
			</div>
			
		</div>
	</body>

</html>